<!DOCTYPE html>
<html>
<head>
    <title>Example - Article page</title>
    <script>window.__ADK_PLATFORM_ROOT__ = 'local-advisible.com'</script>
    <script>window.adk = window.adk || {cmd: []}</script>
    <script async src="https://cdn.advisible.com/adk-1.4.0.js"></script>
    <script async src="/scripts/article.js"></script>
    <link rel="stylesheet" href="/styles/native.css">
</head>
<body>
    <div class="native-article"></div>

    <script>
        adk.cmd.push(function() {
            adk.native.articleById({
                aid: '10122804',
                itemId: window.location.pathname.split('/')[2],
                elem: '.native-article',
                template: 'native-article',
                onDone: function(native, elem, err) {
                    adk.container.attach(elem)
                    native && !err && (window.document.title = native.headline)
                }
            })
        })
    </script>
</body>
</html>
