<!DOCTYPE html>
<html>
<head>
    <title>Example - Article page</title>
    <script>window.adk = window.adk || {cmd: []}</script>
    <script async src="https://cdn.advisible.com/adk-1.1.6.js"></script>
    <script async src="/scripts/article.js"></script>
    <link rel="stylesheet" href="/styles/native.css">
</head>
<body>
    <!-- Placeholder element for the native article -->
    <div id="native-root"></div>

    <!-- Get the article id from the URL and load the ad -->
    <script>
        adk.cmd.push(function() {
            adk.native.article({
                aid: '10122709', // Advisible ID
                itemId: window.location.pathname.split('/')[2],
                elem: '#native-root',
                replace: true,
                template: 'native-article',
                accept: {
                    aspectRatio: 528 / 300,
                },
                onDone: function(native, err) {
                    native && !err && (window.document.title = native.headline)
                }
            })
        })
    </script>
</body>
</html>
