
/* .native-advertiser {
    text-transform: uppercase !important;
} */

.native-bg {
    background: #ecfafb;
}

.native-teaser {
    min-height: 232px;
}

.native-teaser .native-headline {
    padding: 0 10px;
}

.native-teaser .native-lead {
    padding: 0 10px;
}

.native-article-marking {
    background: rgba(71, 210, 220);
    width: 100%;
    font-size: 11px;
    padding: 0px 7px;
    vertical-align: middle;
    line-height: 30px;
    letter-spacing: 0.8px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

.native-teaser-marking {
    position: absolute;
    z-index: 100;
    color: #fff;
    background: rgba(71, 210, 220, 0.75);
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    padding-left: 7px;
    vertical-align: middle;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-family: "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}
